API_ID=5642193
API_HASH=c28fc9ac88530587236175da89184d75
BOT_TOKEN=6088570842:AAEP-Stzkhzj53aijcDOeDbhs-hZo9qjeLU
LOG_GROUP_ID=-1001857376981
MONGO_DB_URI=mongodb+srv://akhinm1x:hn9yYOZpncBcSgKp@cluster0.9dxlslv.mongodb.net/?retryWrites=true&w=majority
MUSIC_BOT_NAME=Resso
OWNER_ID=1912969717
STRING_SESSION=BQBWF9EAT3sTYpZ4rZDx2Xwbd1crZTC5tiCovn4BIGxrWtfl4ptA8EQjnW3UrNTVuDjbDa3CMhj1KdUd5HeE6L8ukkVRCUROhTs9eFyuHGplr_wFgNFrcZH8F_DQzO7UiYqvxBdIQUXwSkiEaol1BqGr-xJUik5mTUBd7wftctDwXknydQKk6PcFifSwn19yXCf8nb5JoT5JAZ8tf3RTdcTOFFkyTIyNyEyFM7CN0_8G4qmzJP5-3zUSI7_1vPi6mjIltKNoz5Czl5S8eW0JG0hKZlqQQWeRQNZsokLGmwXzrMKDorT3QBUmdGZ0AHHdPXuiLvKZcaeIXmLlCBeI1xspIWqPYgAAAAFqb7KGAA
